qitcom flow 26 oct 2019.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf400
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw12240\paperh20160\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"dcf76ae7.c7a2d8","type":"exec","z":"f4a47553.f16158","command":"cat /proc/cpuinfo |grep Serial|cut -d' ' -f2","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":182,"y":212.15280151367188,"wires":[["cb94a3a9.897d7","76791dd6.523aa4"],[],[]]\},\{"id":"427734ca.36e4dc","type":"inject","z":"f4a47553.f16158","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":122.99307250976562,"y":88.96530151367188,"wires":[["dcf76ae7.c7a2d8"]]\},\{"id":"76791dd6.523aa4","type":"switch","z":"f4a47553.f16158","name":"","property":"payload","propertyType":"msg","rules":[\{"t":"regex","v":"44005035c204141c064e","vt":"str","case":false\},\{"t":"else"\}],"checkall":"true","outputs":2,"x":327.16668701171875,"y":146,"wires":[["5730b01b.dc7c9"],["f892767f.f30c38"]]\},\{"id":"f892767f.f30c38","type":"function","z":"f4a47553.f16158","name":"","func":"var newMsg = \{ payload: 0\};\\nreturn newMsg;","outputs":1,"noerr":0,"x":557.1666564941406,"y":185,"wires":[["2190f937.bb8606"]]\},\{"id":"5730b01b.dc7c9","type":"function","z":"f4a47553.f16158","name":"","func":"var newMsg = \{ payload: 1\};\\nreturn newMsg;","outputs":1,"noerr":0,"x":459.1666564941406,"y":74,"wires":[["2190f937.bb8606"]]\},\{"id":"f2fed516.ceb228","type":"inject","z":"f4a47553.f16158","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":true,"x":600.9930725097656,"y":129.013916015625,"wires":[["2190f937.bb8606"]]\},\{"id":"aea3dba0.5ca5a8","type":"inject","z":"f4a47553.f16158","name":"","topic":"","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":662.9930725097656,"y":226.013916015625,"wires":[["2190f937.bb8606"]]\},\{"id":"2190f937.bb8606","type":"scanBeacon","z":"f4a47553.f16158","name":"","beacon_uuid":"","beacon_major":"","beacon_minor":"","x":840.0972747802734,"y":118.013916015625,"wires":[[]]\},\{"id":"e323731a.0dee7","type":"scan ble","z":"f4a47553.f16158","uuids":"","duplicates":true,"name":"tBeacon_p","x":89.99307250976562,"y":347.013916015625,"wires":[["34c47f09.7b837","1d7634f.f05abcb","1064e957.7bd2f7"]]\},\{"id":"34c47f09.7b837","type":"function","z":"f4a47553.f16158","name":"Sensor:battery, temp, humidity","func":"context.global.macid = msg.peripheralUuid;\\nmsg.payload = msg.advertisement.serviceData;\\nif (msg.payload.length > 0 && msg.advertisement.serviceData[0].uuid === \\"fff6\\" ) \\n\{\\n    if(msg.advertisement.serviceData[0].data[0] !== null && msg.advertisement.serviceData[0].data[1] !== null && msg.advertisement.serviceData[0].data[2] !== null)\\n\{\\n\\n\\nmsg.payload = \{\\"peripheralUuid\\":msg.peripheralUuid, \\"localName\\":msg.localName, \\"rssi\\":\\"\\"+msg.rssi+\\"\\", \\"gatewayid\\": \\"44005035c204141c064e\\", \\"battery\\": \\"\\"+msg.advertisement.serviceData[0].data[0]+\\"\\", \\"temperature\\": \\"\\"+msg.advertisement.serviceData[0].data[1]+\\"\\", \\"humidity\\": \\"\\"+msg.advertisement.serviceData[0].data[2]+\\"\\"\};\\nreturn msg;\\n\\n\}\\n    \\n    \\n    \\n\}\\n  \\n\\n","outputs":1,"noerr":0,"x":344.4930725097656,"y":348.013916015625,"wires":[["5d81da5d.6cd144"]]\},\{"id":"77c23de6.3a2754","type":"debug","z":"f4a47553.f16158","name":"","active":true,"console":"false","complete":"false","x":92.49307250976562,"y":463.013916015625,"wires":[]\},\{"id":"1d7634f.f05abcb","type":"function","z":"f4a47553.f16158","name":"location & rssi","func":"context.global.macid = msg.peripheralUuid;\\n//if (msg.rssi > -60 && msg.localName === \\"tBeacon_p\\")\\nif (msg.rssi > -100)\\n//if (msg.rssi > -100 && msg.localName === \\"pBeacon_n\\")\\n\{\\n    \\ncontext.global.tagid = msg.peripheralUuid;\\nmsg.payload = \{\\"peripheralUuid\\":msg.peripheralUuid, \\"localName\\":msg.localName, \\"rssi\\":\\"\\"+msg.rssi+\\"\\", \\"gatewayid\\": \\"44005035c204141c064e\\"\};\\nreturn msg;\\n\}","outputs":"1","noerr":0,"x":293.9930725097656,"y":402.013916015625,"wires":[["c6d9a803.27d048"]]\},\{"id":"5d81da5d.6cd144","type":"function","z":"f4a47553.f16158","name":"","func":"msg.topic = \\"/key3333/sensor/\\"+context.global.macid+\\"\\";\\nmsg.payload= msg.payload;\\nreturn msg;","outputs":1,"noerr":0,"x":570.9930725097656,"y":314.013916015625,"wires":[["6f38d7c7.72fec8"]]\},\{"id":"ad5cb6df.7c6788","type":"mqtt out","z":"f4a47553.f16158","name":"","topic":"","qos":"","retain":"","broker":"ebdbda7e.c468d8","x":782.9930725097656,"y":367.013916015625,"wires":[]\},\{"id":"6f38d7c7.72fec8","type":"delay","z":"f4a47553.f16158","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":622.9930725097656,"y":365.013916015625,"wires":[["ad5cb6df.7c6788"]]\},\{"id":"c6d9a803.27d048","type":"function","z":"f4a47553.f16158","name":"","func":"msg.topic = \\"/key3333/ips/\\"+context.global.macid+\\"\\";\\nmsg.payload= msg.payload;\\nreturn msg;","outputs":1,"noerr":0,"x":362.9930725097656,"y":480.013916015625,"wires":[["5c5131f9.2ee59"]]\},\{"id":"5c5131f9.2ee59","type":"delay","z":"f4a47553.f16158","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"60","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":566.9930725097656,"y":498.013916015625,"wires":[["3add8ad0.eb7376","b63654be.646538","60bd6046.82c72"]]\},\{"id":"3add8ad0.eb7376","type":"mqtt out","z":"f4a47553.f16158","name":"","topic":"","qos":"","retain":"","broker":"ebdbda7e.c468d8","x":802.9930725097656,"y":432.013916015625,"wires":[]\},\{"id":"b63654be.646538","type":"debug","z":"f4a47553.f16158","name":"","active":true,"console":"false","complete":"false","x":811.9930725097656,"y":511.013916015625,"wires":[]\},\{"id":"cb94a3a9.897d7","type":"debug","z":"f4a47553.f16158","name":"","active":true,"console":"false","complete":"false","x":510.93060302734375,"y":243.37503051757812,"wires":[]\},\{"id":"1064e957.7bd2f7","type":"json","z":"f4a47553.f16158","name":"","x":125,"y":649,"wires":[["4b3fddf1.d403b4"]]\},\{"id":"4b3fddf1.d403b4","type":"delay","z":"f4a47553.f16158","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":278.8816261291504,"y":578.3855314254761,"wires":[["3edd7bd2.a85a64"]]\},\{"id":"3edd7bd2.a85a64","type":"function","z":"f4a47553.f16158","name":"Motion, X,Y,Z Accelerometer,CurrentMotion, LastMotion,Battery,MeasurePower","func":"//msg.payload= msg.advertisement.manufacturerData[10];\\n//msg.payload= msg.advertisement;\\n//msg.payoad = msg.advertisement.localName;\\n\\nif (msg.advertisement.localName == \\"asensor_D5A1\\" && msg.advertisement.serviceUuids == \\"fef5\\")\\n\{\\n    \\n//context.global.distance = (10 ^ ((0 - msg.rssi) / 20));\\nvar ratio = msg.rssi * 1 / -65;\\ncontext.global.distance = (0.89976) * Math.pow(ratio, 7.7095) + 0.111;\\nmsg.payload = \{\\"peripheralUuid\\":msg.peripheralUuid, \\"rssi\\":\\"\\"+msg.rssi+\\"\\", \\"distance\\":\\"\\"+context.global.distance+\\"\\", \\"Temp\\":\\"\\"+msg.advertisement.manufacturerData[9]+\\"\\", \\"Motion\\":\\"\\"+msg.advertisement.manufacturerData[10]+\\"\\", \\"X\\":\\"\\"+msg.advertisement.manufacturerData[11]+\\"\\", \\"Y\\":\\"\\"+msg.advertisement.manufacturerData[12]+\\"\\", \\"Z\\": \\"\\"+msg.advertisement.manufacturerData[13]+\\"\\", \\"CurrentMotion\\": \\"\\"+msg.advertisement.manufacturerData[14]+\\"\\", \\"LastMotion\\": \\"\\"+msg.advertisement.manufacturerData[15]+\\"\\", \\"battery\\": \\"\\"+msg.advertisement.manufacturerData[16]+\\"\\", \\"MeasuredPower\\": \\"\\"+msg.advertisement.manufacturerData[17]+\\"\\"\};\\n//msg.payload= msg.advertisement;\\nreturn msg;\\n\}","outputs":1,"noerr":0,"x":513.0516967773438,"y":644.7778930664062,"wires":[["e39f232b.3293f","54a7d00.c61db3"]]\},\{"id":"e39f232b.3293f","type":"function","z":"f4a47553.f16158","name":"","func":"if (msg.payload.Motion ==1)\\n\{\\n   //msg.payload = \{\\"peripheralUuid\\":msg.peripheralUuid, \\"Temp\\":\\"\\"+msg.advertisement.manufacturerData[9]+\\"\\", \\"Motion\\":\\"\\"+msg.advertisement.manufacturerData[10]+\\"\\", \\"X\\":\\"\\"+msg.advertisement.manufacturerData[11]+\\"\\", \\"Y\\":\\"\\"+msg.advertisement.manufacturerData[12]+\\"\\", \\"Z\\": \\"\\"+msg.advertisement.manufacturerData[13]+\\"\\", \\"CurrentMotion\\": \\"\\"+msg.advertisement.manufacturerData[14]+\\"\\", \\"LastMotion\\": \\"\\"+msg.advertisement.manufacturerData[15]+\\"\\", \\"battery\\": \\"\\"+msg.advertisement.manufacturerData[16]+\\"\\", \\"MeasuredPower\\": \\"\\"+msg.advertisement.manufacturerData[17]+\\"\\"\};\\n  \\n msg.payload = \{\\"devid\\":\\"TELEMOTION33\\",\\"value\\":msg.peripheralUuid, \\"time\\":\\"65280\\"\};\\n   return msg;\\n\}\\n","outputs":1,"noerr":0,"x":285.8850440979004,"y":718.6320180892944,"wires":[["e2e95e82.0fcb9"]]\},\{"id":"e2e95e82.0fcb9","type":"function","z":"f4a47553.f16158","name":"","func":"msg.topic = \\"/key3333/accelerometer/\\"+context.global.macid+\\"\\";\\nmsg.payload= msg.payload;\\nreturn msg;","outputs":1,"noerr":0,"x":445,"y":731,"wires":[["611662bc.0f312c"]]\},\{"id":"611662bc.0f312c","type":"delay","z":"f4a47553.f16158","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":567,"y":800,"wires":[["73aee014.fe5d6"]]\},\{"id":"73aee014.fe5d6","type":"mqtt out","z":"f4a47553.f16158","name":"","topic":"","qos":"","retain":"","broker":"ebdbda7e.c468d8","x":710,"y":741,"wires":[]\},\{"id":"54a7d00.c61db3","type":"function","z":"f4a47553.f16158","name":"","func":"msg.topic = \\"/key3333/xyz/\\"+context.global.macid+\\"\\";\\nmsg.payload= msg.payload;\\nreturn msg;","outputs":1,"noerr":0,"x":374.5,"y":848,"wires":[["c52bdf52.d23b4"]]\},\{"id":"c52bdf52.d23b4","type":"mqtt out","z":"f4a47553.f16158","name":"","topic":"","qos":"","retain":"","broker":"ebdbda7e.c468d8","x":719.5,"y":867,"wires":[]\},\{"id":"14bbb59c.d66d2a","type":"function","z":"f4a47553.f16158","name":"Update X Y Z ","func":"if (msg.payload.Motion ==1)\\n\{\\n\\n//msg.payload = \{\\"peripheralUuid\\":msg.peripheralUuid, \\"Temp\\":\\"\\"+msg.advertisement.manufacturerData[9]+\\"\\", \\"Motion\\":\\"\\"+msg.advertisement.manufacturerData[10]+\\"\\", \\"X\\":\\"\\"+msg.advertisement.manufacturerData[11]+\\"\\", \\"Y\\":\\"\\"+msg.advertisement.manufacturerData[12]+\\"\\", \\"Z\\": \\"\\"+msg.advertisement.manufacturerData[13]+\\"\\", \\"CurrentMotion\\": \\"\\"+msg.advertisement.manufacturerData[14]+\\"\\", \\"LastMotion\\": \\"\\"+msg.advertisement.manufacturerData[15]+\\"\\", \\"battery\\": \\"\\"+msg.advertisement.manufacturerData[16]+\\"\\", \\"MeasuredPower\\": \\"\\"+msg.advertisement.manufacturerData[17]+\\"\\"\};\\nmsg.payload = \{\\"peripheralUuid\\":msg.peripheralUuid, \\"localName\\":msg.localName, \\"rssi\\":\\"\\"+msg.rssi+\\"\\", \\"gatewayid\\": \\"1435502202ce5000006a\\", \\"battery\\": \\"\\"+msg.advertisement.manufacturerData[11]+\\"\\", \\"temperature\\": \\"\\"+msg.advertisement.manufacturerData[12]+\\"\\", \\"humidity\\": \\"\\"+msg.advertisement.manufacturerData[13]+\\"\\"\};\\nreturn msg;\\n\\n\}\\n","outputs":1,"noerr":0,"x":94,"y":850,"wires":[[]]\},\{"id":"f7ab5be4.2394c8","type":"mqtt out","z":"f4a47553.f16158","name":"","topic":"s/us","qos":"","retain":"","broker":"b5e7d8fa.97a8c8","x":878,"y":591,"wires":[]\},\{"id":"60bd6046.82c72","type":"function","z":"f4a47553.f16158","name":"","func":"//msg.payload = context.global.macid;//\\n//200, peripheralUuid, macid,12345678\\n//400,c8y_MyEvent,\\"Something was triggered\\"\\nif (context.global.tagid == \\"a0e6f869a1f5\\" ||context.global.tagid == \\"a0e6f869a1f5\\")\\n\{\\nmsg.payload = \\"400,c8y_MyEvent,\\"+context.global.tagid+\\"gateway:Office33\'94 \\";\\nreturn msg;\\n\}\\n\\n","outputs":1,"noerr":0,"x":604,"y":558,"wires":[["f7ab5be4.2394c8"]]\},\{"id":"606bd6f8.63d4f8","type":"function","z":"f4a47553.f16158","name":"location & rssi","func":"context.global.macid = msg.peripheralUuid;\\n//if (msg.rssi > -60 && msg.localName === \\"tBeacon_p\\")\\nif (msg.rssi > -70)\\n\{\\nmsg.payload = \{\\"peripheralUuid\\":msg.peripheralUuid, \\"localName\\":msg.localName, \\"rssi\\":\\"\\"+msg.rssi+\\"\\", \\"gatewayid\\": \\"44005035c204141c064e\\"\};\\nreturn msg;\\n\}","outputs":"1","noerr":0,"x":247,"y":490,"wires":[[]]\},\{"id":"ebdbda7e.c468d8","type":"mqtt-broker","z":"","broker":"telebeacon.com","port":"1883","clientid":"raghav","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""\},\{"id":"b5e7d8fa.97a8c8","type":"mqtt-broker","z":"","broker":"telebeacon.iotsolutionbuilder.ooredoo.qa/mqtt","port":"1883","clientid":"gateway123","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""\}]}