telebeacon server flow 26oct2019 qitcom.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1671\cocoasubrtf400
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
{\*\expandedcolortbl;;}
\paperw12240\paperh20160\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"4a22f116.7149b","type":"mqtt in","z":"5bd8f445.0f739c","name":"","topic":"ioneeds/#","qos":"2","broker":"419d3f26.6f034","x":101,"y":131.45138692855835,"wires":[["82b73f5.8cedbc"]]\},\{"id":"82b73f5.8cedbc","type":"function","z":"5bd8f445.0f739c","name":"","func":"context.global.paydata = msg.payload;\\nvar topicElements = msg.topic.split('/');\\nvar data_key1 = topicElements[topicElements.length - 1];\\nvar device_id1 = topicElements[topicElements.length - 2];\\nmsg.topic = \\"SELECT * FROM rules where device_id= '\\"+device_id1+\\"' AND data_key= '\\"+data_key1+\\"' ORDER by rule_id\\";\\ncontext.global.datakey = data_key1;\\ncontext.global.deviceid = device_id1;\\nreturn msg;\\n\\n","outputs":1,"noerr":0,"x":250,"y":125.7846999168396,"wires":[["3f3cef05.c7986"]]\},\{"id":"3f3cef05.c7986","type":"mysql","z":"5bd8f445.0f739c","mydb":"5b9ea9ab.43f018","name":"","x":411,"y":141.45138692855835,"wires":[["59ee86cc.6ed028","50ca43c.99088bc","7975b85f.a29468"]]\},\{"id":"2aa82224.75160e","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"8805b2b1.f2877","x":407,"y":70.45138692855835,"wires":[]\},\{"id":"48fed0c1.62b03","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"ioneeds/id/temp","payload":"21","payloadType":"str","repeat":"","crontab":"","once":false,"x":152,"y":72.45138692855835,"wires":[["2aa82224.75160e"]]\},\{"id":"8696174e.9a3d98","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[0].comparison==\\"greaterthan\\" && context.global.paydata > msg.payload[0].value) || (msg.payload[0].comparison==\\"equals\\" && context.global.paydata == msg.payload[0].value) || (msg.payload[0].comparison==\\"lessthan\\" && context.global.paydata < msg.payload[0].value))\\n    \{\\n    if(msg.payload[0].action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n            msg1 = \{\};\\n            msg1.payload = \\"email:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\"; \\n        \}\\n    if(msg.payload[0].action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n            msg1 = \{\};\\n            msg1.payload = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\n            \\n        \}\\n    if(msg.payload[0].action==\\"url\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         msg1 = \{\};\\n         msg1.payload = \\"url:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\n        \}\\n        \\n       \\nreturn msg1;\\n\}","outputs":"1","x":584,"y":140.45138692855835,"wires":[[]]\},\{"id":"b6140ae5.b891b8","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":768.3333740234375,"y":50.45138692855835,"wires":[]\},\{"id":"a7a38eed.e23df","type":"mqtt in","z":"5bd8f445.0f739c","name":"","topic":"/flipkart","qos":"2","broker":"419d3f26.6f034","x":614,"y":70.45138692855835,"wires":[["b6140ae5.b891b8"]]\},\{"id":"79f55d13.706124","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1392.000057220459,"y":117.45139074325562,"wires":[]\},\{"id":"59ee86cc.6ed028","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[0]","property":"payload[0]","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":436.99999237060547,"y":212.45139265060425,"wires":[[],["93dc817.345b58"]]\},\{"id":"50ca43c.99088bc","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[1]","property":"payload[1]","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":424.99999618530273,"y":252.451406955719,"wires":[[],["c7066c31.aecf8"]]\},\{"id":"7975b85f.a29468","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[2]","property":"payload[2]","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":419.0000190734863,"y":299.4514117240906,"wires":[[],["656e7589.ff565c"]]\},\{"id":"95dc3842.905d18","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[0].comparison==\\"greaterthan\\" && context.global.paydata > msg.payload[0].value) || (msg.payload[0].comparison==\\"equals\\" && context.global.paydata == msg.payload[0].value) || (msg.payload[0].comparison==\\"lessthan\\" && context.global.paydata < msg.payload[0].value))\\n    \{\\n    if(msg.payload[0].action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n            //msg1 = \{\};\\n            //msg.to = msg.payload[0].target;\\n            \\n           // msg.from = \\"raghav@telebeacon.com\\";\\n            msg.topic = \\"Email Alert Trigger from TeleBeacon\\";\\n           msg.to = msg.payload[0].target;\\n            msg.payload = \\"Hello this your mail\\";\\n            \\n        \}\\n    if(msg.payload[0].action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n            //msg1 = \{\};\\n            msg.payload = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\n            \\n        \}\\n    if(msg.payload[0].action==\\"url_trigger\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         //msg1 = \{\};\\n         msg.payload = \\"url:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\n        \}\\n        \\nreturn msg;\\n\}\\n","outputs":"1","noerr":0,"x":1292.0002174377441,"y":99.4514594078064,"wires":[["79f55d13.706124"]]\},\{"id":"fdf2cc49.6f20b","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[1].comparison==\\"greaterthan\\" && context.global.paydata > msg.payload[1].value) || (msg.payload[1].comparison==\\"equals\\" && context.global.paydata == msg.payload[1].value) || (msg.payload[1].comparison==\\"lessthan\\" && context.global.paydata < msg.payload[1].value))\\n    \{\\n    if(msg.payload[1].action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n            //msg1 = \{\};\\n            msg.payload = \\"email:\\"+msg.payload[1].target+\\":\\"+msg.payload[1].data+\\"\\"; \\n        \}\\n    if(msg.payload[1].action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n           // msg1 = \{\};\\n            msg.payload = \\"publish:\\"+msg.payload[1].target+\\":\\"+msg.payload[1].data+\\"\\";\\n            \\n        \}\\n    if(msg.payload[1].action==\\"url_trigger\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         //msg1 = \{\};\\n         msg.payload = \\"url:\\"+msg.payload[1].target+\\":\\"+msg.payload[1].data+\\"\\";\\n        \}\\n        \\n       \\nreturn msg;\\n\}\\n","outputs":"1","x":1342.000057220459,"y":164.45139455795288,"wires":[[]]\},\{"id":"b2555775.36d178","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[2].comparison==\\"greaterthan\\" && context.global.paydata > msg.payload[2].value) || (msg.payload[2].comparison==\\"equals\\" && context.global.paydata == msg.payload[2].value) || (msg.payload[2].comparison==\\"lessthan\\" && context.global.paydata < msg.payload[2].value))\\n    \{\\n    if(msg.payload[2].action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n           // msg1 = \{\};\\n            msg.payload = \\"email:\\"+msg.payload[2].target+\\":\\"+msg.payload[2].data+\\"\\"; \\n        \}\\n    if(msg.payload[2].action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n          //  msg1 = \{\};\\n            msg.payload = \\"publish:\\"+msg.payload[2].target+\\":\\"+msg.payload[2].data+\\"\\";\\n            \\n        \}\\n    if(msg.payload[2].action==\\"url_trigger\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         //msg1 = \{\};\\n         msg.payload = \\"url:\\"+msg.payload[2].target+\\":\\"+msg.payload[2].data+\\"\\";\\n        \}\\n        \\n       \\nreturn msg;\\n\}\\n","outputs":"1","x":1436.0000190734863,"y":162.4514079093933,"wires":[[]]\},\{"id":"5df432a8.be3c9c","type":"function","z":"5bd8f445.0f739c","name":"","func":"node.warn(\\"is null\\");\\nreturn msg;","outputs":1,"x":669.0000100135803,"y":169.4514021873474,"wires":[[]]\},\{"id":"66ab9b81.c69064","type":"function","z":"5bd8f445.0f739c","name":"","func":"node.warn(\\"is null\\");\\nreturn msg;","outputs":1,"x":624.0000190734863,"y":261.4514117240906,"wires":[[]]\},\{"id":"622be4f7.5a1d8c","type":"function","z":"5bd8f445.0f739c","name":"","func":"node.warn(\\"is null\\");\\nreturn msg;","outputs":1,"x":614.0000152587891,"y":351.45140409469604,"wires":[[]]\},\{"id":"f12cac24.36794","type":"e-mail","z":"5bd8f445.0f739c","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":" Telebeacon Mail","x":1246,"y":164.45138549804688,"wires":[]\},\{"id":"f484413c.3a219","type":"mysql","z":"5bd8f445.0f739c","mydb":"5b9ea9ab.43f018","name":"","x":882.0000152587891,"y":143.7847170829773,"wires":[["79ba0478.399f2c"]]\},\{"id":"3585bb5d.32f2e4","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"INSERT INTO dump (dumpdata) VALUES ('\\"+msg.payload+\\"')\\";\\nreturn msg;","outputs":1,"x":890.0000648498535,"y":105.1180624961853,"wires":[["f484413c.3a219"]]\},\{"id":"79ba0478.399f2c","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1088.0000381469727,"y":135.1180567741394,"wires":[]\},\{"id":"ddc098d5.19ea98","type":"mqtt in","z":"5bd8f445.0f739c","name":"","topic":"/Sshelf/#","qos":"2","broker":"419d3f26.6f034","x":155,"y":444.45138692855835,"wires":[["a784101d.a8f82"]]\},\{"id":"76875052.ae66f","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":744,"y":468.45138692855835,"wires":[]\},\{"id":"a784101d.a8f82","type":"function","z":"5bd8f445.0f739c","name":"","func":"context.global.paydata = msg.payload;\\nvar topicElements = msg.topic.split('/');\\nvar shelf_id = topicElements[topicElements.length - 2];\\nvar row_id = topicElements[topicElements.length - 1];\\nmsg.topic = \\"INSERT INTO shelf(shelf_id, row_id, level) VALUES ('\\"+shelf_id+\\"', '\\"+row_id+\\"', '\\"+msg.payload+\\"')\\";\\nreturn msg;","outputs":1,"x":321,"y":442.45138692855835,"wires":[["33d9bbf9.641384"]]\},\{"id":"33d9bbf9.641384","type":"mysql","z":"5bd8f445.0f739c","mydb":"5b9ea9ab.43f018","name":"","x":484,"y":468.45138692855835,"wires":[["76875052.ae66f"]]\},\{"id":"c32d124a.76ef6","type":"mqtt in","z":"5bd8f445.0f739c","name":"","topic":"/key3333/ips/#","qos":"2","broker":"419d3f26.6f034","x":154.5,"y":525.4513869285583,"wires":[["602b4c5e.0f6214"]]\},\{"id":"c45a2899.f39b28","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":680.5,"y":538.4513869285583,"wires":[]\},\{"id":"73b87d13.ac4364","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"INSERT INTO lt_position( tag_id, xpos, ypos, map_id, localName, rssi, dist ) SELECT lt_tag.id, lt_reader.xpos, lt_reader.ypos, lt_reader.map_id,'\\"+msg.payload.localName+\\"', '\\"+msg.payload.rssi+\\"', 3.2808*pow(10,((-60-('\\"+msg.payload.rssi+\\"'))/(20))) FROM lt_tag, lt_reader  WHERE lt_tag.addr ='\\"+msg.payload.peripheralUuid+\\"'AND lt_reader.addr ='\\"+msg.payload.gatewayid+\\"' AND lt_tag.minsignal <'\\"+msg.payload.rssi+\\"' LIMIT 1\\";\\nreturn msg;","outputs":1,"noerr":0,"x":341.4999694824219,"y":531.4513869285583,"wires":[["38f97773.cc7618"]]\},\{"id":"602b4c5e.0f6214","type":"json","z":"5bd8f445.0f739c","name":"","x":230.95736694335938,"y":607.2894606590271,"wires":[["73b87d13.ac4364"]]\},\{"id":"38f97773.cc7618","type":"mysql","z":"5bd8f445.0f739c","mydb":"5b9ea9ab.43f018","name":"","x":493.09942626953125,"y":514.2695631980896,"wires":[["c45a2899.f39b28"]]\},\{"id":"d17709f.15cc1f8","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"UPDATE lt_tag SET srssi ='\\"+msg.payload.rssi+\\"',  battery ='\\"+msg.payload.battery+\\"', temperature = '\\"+msg.payload.temperature+\\"', humidity = '\\"+msg.payload.humidity+\\"', gatewayid ='\\"+msg.payload.gatewayid+\\"' WHERE lt_tag.addr ='\\"+msg.payload.peripheralUuid+\\"'\\";\\nreturn msg;","outputs":1,"noerr":0,"x":473.5539245605469,"y":637.2695631980896,"wires":[["9a6858bf.a1d358"]]\},\{"id":"2e879d2c.fbe2f2","type":"mqtt in","z":"5bd8f445.0f739c","name":"","topic":"/key3333/sensor/#","qos":"2","broker":"419d3f26.6f034","x":183.55398559570312,"y":701.2695631980896,"wires":[["2dd2b20c.78a1ae"]]\},\{"id":"2dd2b20c.78a1ae","type":"json","z":"5bd8f445.0f739c","name":"","x":378.5539855957031,"y":696.2695631980896,"wires":[["d17709f.15cc1f8"]]\},\{"id":"663d28c6.786c78","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":758.553955078125,"y":692.2695631980896,"wires":[]\},\{"id":"9a6858bf.a1d358","type":"mysql","z":"5bd8f445.0f739c","mydb":"5b9ea9ab.43f018","name":"","x":558.5539245605469,"y":689.2695631980896,"wires":[["663d28c6.786c78"]]\},\{"id":"d5e039e2.b50db8","type":"function","z":"5bd8f445.0f739c","name":"","func":"context.global.paydata = msg.payload;\\nvar topicElements = msg.topic.split('/');\\nvar data_key1 = topicElements[topicElements.length - 1];\\nvar device_id1 = topicElements[topicElements.length - 2];\\nmsg.topic = \\"SELECT * FROM telebeaconrules where device_id= '\\"+device_id1+\\"' AND data_key= '\\"+data_key1+\\"' ORDER by id\\";\\ncontext.global.datakey1=topicElements[topicElements.length - 1];\\ncontext.global.device_id1 = topicElements[topicElements.length - 2];\\nreturn msg;\\n\\n","outputs":1,"noerr":0,"x":94,"y":847.4513869285583,"wires":[["8e599c66.75893"]]\},\{"id":"8e599c66.75893","type":"mysql","z":"5bd8f445.0f739c","mydb":"5b9ea9ab.43f018","name":"","x":255,"y":863.1180739402771,"wires":[["42c64e63.bf409","77c677d6.3b28f8"]]\},\{"id":"ff59c18a.2a774","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[0]","property":"payload","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":300,"y":960.1180739402771,"wires":[["5038e24e.06dadc"],["33e15d3d.3c8b42"]]\},\{"id":"5038e24e.06dadc","type":"function","z":"5bd8f445.0f739c","name":"","func":"node.warn(\\"is null\\");\\nreturn msg;","outputs":1,"x":486,"y":924.1180739402771,"wires":[[]]\},\{"id":"33e15d3d.3c8b42","type":"function","z":"5bd8f445.0f739c","name":"","func":" if((context.global.device_id1 == msg.payload[0].device_id) && (context.global.paydata > msg.payload[0].value) && (context.global.data_key1 == msg.payload[0].data_key))\\n    \{\\n    if(msg.payload[0].action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n            //msg1 = \{\};\\n            //msg.to = msg.payload[0].target;\\n            \\n            msg.from = \\"raghav@telebeacon.com\\";\\n            msg.topic = \\"Email Alert Trigger from TeleBeacon\\";\\n            msg.to = msg.payload[0].target;\\n            msg.payload = \\"Hello this your mail\\";\\n            \\n        \}\\n    if(msg.payload[0].action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n            //msg1 = \{\};\\n            msg.payload = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\n            \\n        \}\\n    if(msg.payload[0].action==\\"url_trigger\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         //msg1 = \{\};\\n         msg.payload = \\"url:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\n        \}\\n        \\nreturn msg;\\n\}\\n","outputs":"1","noerr":0,"x":495,"y":975.1180739402771,"wires":[["e7d00a10.912ec8"]]\},\{"id":"6f50b2d.ff7984c","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[1]","property":"payload","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":299,"y":1026.118073940277,"wires":[["b7833042.622d2"],["57abec62.6a3714"]]\},\{"id":"b7833042.622d2","type":"function","z":"5bd8f445.0f739c","name":"","func":"node.warn(\\"is null\\");\\nreturn msg;","outputs":1,"x":480,"y":1016.1180739402771,"wires":[[]]\},\{"id":"bfda4821.42d268","type":"function","z":"5bd8f445.0f739c","name":"","func":"node.warn(\\"is null\\");\\nreturn msg;","outputs":1,"x":474,"y":1093.118073940277,"wires":[[]]\},\{"id":"ae11d9b6.ecb458","type":"function","z":"5bd8f445.0f739c","name":"","func":"    if(( context.global.device_id1 == msg.payload[2].device_id) && (context.global.paydata > msg.payload[2].value) && (context.global.data_key1 = msg.payload[2].data_key))\\n    \{\\n    if(msg.payload[2].action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n           // msg1 = \{\};\\n            msg.payload = \\"email:\\"+msg.payload[2].target+\\":\\"+msg.payload[2].data+\\"\\"; \\n        \}\\n    if(msg.payload[2].action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n          //  msg1 = \{\};\\n            msg.payload = \\"publish:\\"+msg.payload[2].target+\\":\\"+msg.payload[2].data+\\"\\";\\n            \\n        \}\\n    if(msg.payload[2].action==\\"url_trigger\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         //msg1 = \{\};\\n         msg.payload = \\"url:\\"+msg.payload[2].target+\\":\\"+msg.payload[2].data+\\"\\";\\n        \}\\n        \\n       \\nreturn msg;\\n\}\\n","outputs":"1","noerr":0,"x":470,"y":1142.118073940277,"wires":[["367320fa.2bdde"]]\},\{"id":"9dcc495c.3e4818","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[2]","property":"payload","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":291,"y":1106.118073940277,"wires":[["bfda4821.42d268"],["ae11d9b6.ecb458"]]\},\{"id":"e7d00a10.912ec8","type":"e-mail","z":"5bd8f445.0f739c","server":"smtp.gmail.com","port":"465","name":"msg.to","dname":"","x":781,"y":983.1180739402771,"wires":[]\},\{"id":"a1ee45b2.f97818","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":741,"y":1076.1180129051208,"wires":[]\},\{"id":"367320fa.2bdde","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":716,"y":1139.118073940277,"wires":[]\},\{"id":"42c64e63.bf409","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":534,"y":854.4513869285583,"wires":[]\},\{"id":"6075305e.2e299","type":"function","z":"5bd8f445.0f739c","name":"","func":"  if((msg.payload.device_id = context.global.device_id1) && (context.global.data_key1 = msg.payload.data_key))\\n   \{\\n    if(msg.payload.action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n            //msg1 = \{\};\\n            msg.payload = \\"email:\\"+msg.payload.target+\\":\\"+msg.payload.data+\\"\\"; \\n        \}\\n    if(msg.payload.action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n           // msg1 = \{\};\\n            msg.payload = \\"publish:\\"+msg.payload.target+\\":\\"+msg.payload.data+\\"\\";\\n            \\n        \}\\n    if(msg.payload.action==\\"url_trigger\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         //msg1 = \{\};\\n         msg.payload = \\"url:\\"+msg.payload.target+\\":\\"+msg.payload.data+\\"\\";\\n        \}\\n        \\n       \\nreturn msg;\\n\}\\n","outputs":"1","noerr":0,"x":644,"y":893.4513869285583,"wires":[["18c759f3.b71446"]]\},\{"id":"18c759f3.b71446","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":806,"y":877.4513869285583,"wires":[]\},\{"id":"b908b9fa.79fd38","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"servo1","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"x":666,"y":958.4513869285583,"wires":[["a1ee45b2.f97818"]]\},\{"id":"82b3b5b2.34e498","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"servo1","payload":"90","payloadType":"str","repeat":"","crontab":"","once":false,"x":646,"y":1015.4513869285583,"wires":[["a1ee45b2.f97818"]]\},\{"id":"4054c2d8.77592c","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"servo2","payload":"10","payloadType":"str","repeat":"","crontab":"","once":false,"x":590,"y":1176.4513869285583,"wires":[["a1ee45b2.f97818"]]\},\{"id":"2ad05936.97a5d6","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"servo2","payload":"90","payloadType":"str","repeat":"","crontab":"","once":false,"x":620,"y":1233.4513869285583,"wires":[["a1ee45b2.f97818"]]\},\{"id":"57abec62.6a3714","type":"function","z":"5bd8f445.0f739c","name":"","func":"   if((msg.payload[1].device_id == context.global.device_id1) && (context.global.paydata > msg.payload[1].value) && (context.global.data_key1 == msg.payload[1].data_key))\\n    \{\\n    if(msg.payload[1].action==\\"email\\")\\n        \{\\n           // msg.payload = msg.payload[0].target;\\n            //msg2 = \{\};\\n           // msg2.payload = \\"email:'\\"+msg.payload+\\"'\\";\\n            //msg1 = \{\};\\n            msg.payload = \\"email:\\"+msg.payload[1].target+\\":\\"+msg.payload[1].data+\\"\\"; \\n        \}\\n    if(msg.payload[1].action==\\"publish\\")\\n        \{\\n          //  msg2 = \{\};\\n           // msg2.payload = msg.payload[0].target;\\n           // msg1 = \{\};\\n            msg.payload = \\"publish:\\"+msg.payload[1].target+\\":\\"+msg.payload[1].data+\\"\\";\\n            \\n        \}\\n    if(msg.payload[1].action==\\"url_trigger\\")\\n        \{\\n            //msg.payload = msg.payload[0].target;\\n           // msg2 = \{\};\\n           // msg2.payload = \\"url:'\\"+msg.payload+\\"'\\";\\n         //msg1 = \{\};\\n         msg.payload = \\"url:\\"+msg.payload[1].target+\\":\\"+msg.payload[1].data+\\"\\";\\n        \}\\n        \\n       \\nreturn msg;\\n\}\\n","outputs":"1","noerr":0,"x":471,"y":1055.4513869285583,"wires":[["a1ee45b2.f97818"]]\},\{"id":"5d957aa1.eb9a24","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload","property":"payload","propertyType":"msg","rules":[\{"t":"nnull"\}],"checkall":"true","outputs":1,"x":116,"y":1166.4513869285583,"wires":[[]]\},\{"id":"c166a190.8c47a","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":393,"y":1230.4513869285583,"wires":[]\},\{"id":"77c677d6.3b28f8","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.payload = \\"Publish:\\"+msg.payload.target+\\":\\"+msg.payload.data+\\"\\";\\nreturn msg;\\n\\n","outputs":"1","noerr":0,"x":294,"y":1170.4513869285583,"wires":[["c166a190.8c47a","a1ee45b2.f97818"]]\},\{"id":"80c61a98.1cea98","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"INSERT INTO lt_sensor( tag_id,addr, battery, temperature, humidity) SELECT lt_tag.id, '\\"+msg.payload.peripheralUuid+\\"','\\"+msg.payload.battery+\\"', '\\"+msg.payload.temperature+\\"', '\\"+msg.payload.humidity+\\"' FROM lt_tag WHERE lt_tag.addr ='\\"+msg.payload.peripheralUuid+\\"' LIMIT 1\\";\\nreturn msg;","outputs":1,"noerr":0,"x":703.8958511352539,"y":596.6736369132996,"wires":[[]]\},\{"id":"8141a719.aa3578","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"ioneeds/id1/temp","payload":"21","payloadType":"str","repeat":"","crontab":"","once":false,"x":198.8958282470703,"y":276.3402724266052,"wires":[["2aa82224.75160e"]]\},\{"id":"c540da78.de8368","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"ioneeds/id/temp1","payload":"21","payloadType":"str","repeat":"","crontab":"","once":false,"x":172.8958282470703,"y":344.3402724266052,"wires":[["2aa82224.75160e"]]\},\{"id":"a8179cbd.1bcd1","type":"e-mail","z":"5bd8f445.0f739c","server":"smtp.gmail.com","port":"465","name":"raghav@raghavs.com","dname":"","x":1368.8266067504883,"y":47,"wires":[]\},\{"id":"28a95bd.8188ea4","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"ioneeds/id1/temp","payload":"21","payloadType":"str","repeat":"","crontab":"","once":false,"x":180.8958282470703,"y":194.34027242660522,"wires":[["2aa82224.75160e"]]\},\{"id":"3314e652.006bca","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":1221.8959045410156,"y":233.34032249450684,"wires":[]\},\{"id":"c6bc3827.834748","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1408.8961563110352,"y":285.34035062789917,"wires":[]\},\{"id":"93dc817.345b58","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[0].comparison==\\"greaterthan\\" && context.global.paydata > msg.payload[0].value) || (msg.payload[0].comparison==\\"equals\\" && context.global.paydata == msg.payload[0].value) || (msg.payload[0].comparison==\\"lessthan\\" && context.global.paydata < msg.payload[0].value))\\n    \{\\n        return msg;\\n    \}","outputs":1,"noerr":0,"x":601.8264350891113,"y":221.19099760055542,"wires":[["b3994124.f4fbe"]]\},\{"id":"b3994124.f4fbe","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[0]","property":"payload[0].action","propertyType":"msg","rules":[\{"t":"eq","v":"email","vt":"str"\},\{"t":"eq","v":"publish","vt":"str"\},\{"t":"eq","v":"url_trigger","vt":"str"\}],"checkall":"true","outputs":3,"x":759.895824432373,"y":228.34031057357788,"wires":[["7bd11ba7.067514"],["67b184bc.8a8b9c"],["40d8ce27.d2cd7"]]\},\{"id":"7bd11ba7.067514","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[0].target;\\nmsg.payload = \\"\\"+msg.payload[0].data+\\" Received Data \\"+context.global.deviceid+\\"/\\"+context.global.datakey+\\"=\\"+context.global.paydata+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":986.2847290039062,"y":206.1944670677185,"wires":[["f12cac24.36794"]]\},\{"id":"67b184bc.8a8b9c","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = msg.payload[0].target;\\nmsg.payload = msg.payload[0].data;\\n//msg.payload  = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":965.3402709960938,"y":245.34027242660522,"wires":[["3314e652.006bca"]]\},\{"id":"51b5df4f.21392","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.payload = \\"url:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":1457.34037399292,"y":203.34028005599976,"wires":[[]]\},\{"id":"ca35272.6166bd8","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"Intruder ALERT","payload":"Hi this is rags","payloadType":"str","repeat":"","crontab":"","once":false,"x":1127.8300170898438,"y":56.420146465301514,"wires":[["a8179cbd.1bcd1"]]\},\{"id":"c7066c31.aecf8","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[1].comparison==\\"greaterthan\\" && context.global.paydata > msg.payload[1].value) || (msg.payload[1].comparison==\\"equals\\" && context.global.paydata == msg.payload[1].value) || (msg.payload[1].comparison==\\"lessthan\\" && context.global.paydata < msg.payload[1].value))\\n    \{\\n        return msg;\\n    \}","outputs":1,"noerr":0,"x":622.5625,"y":312.3402724266052,"wires":[["f2e18c72.d24"]]\},\{"id":"f2e18c72.d24","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[1]","property":"payload[1].action","propertyType":"msg","rules":[\{"t":"eq","v":"email","vt":"str"\},\{"t":"eq","v":"publish","vt":"str"\},\{"t":"eq","v":"url_trigger","vt":"str"\}],"checkall":"true","outputs":3,"x":780.6318893432617,"y":319.4895853996277,"wires":[["c3c982c7.004e8"],["5e64fae3.e6d124"],["824173c.ad9ad9"]]\},\{"id":"c3c982c7.004e8","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[1].target;\\nmsg.payload = \\"\\"+msg.payload[1].data+\\" Received Data \\"+context.global.deviceid+\\"/\\"+context.global.datakey+\\"=\\"+context.global.paydata+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":1020.0208587646484,"y":326.34376096725464,"wires":[["fb567777.b70dc8"]]\},\{"id":"5e64fae3.e6d124","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = msg.payload[1].target;\\nmsg.payload = msg.payload[1].data;\\n//msg.payload  = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":1033.0763721466064,"y":365.48954248428345,"wires":[["37340f37.672ec"]]\},\{"id":"1d1062fb.f11ecd","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.payload = \\"url:\\"+msg.payload[1].target+\\":\\"+msg.payload[1].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":1465.0764427185059,"y":220.4896216392517,"wires":[[]]\},\{"id":"fb567777.b70dc8","type":"e-mail","z":"5bd8f445.0f739c","server":"smtp.gmail.com","port":"465","name":"","dname":"","x":1224.7360610961914,"y":333.60068368911743,"wires":[]\},\{"id":"37340f37.672ec","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":1236.6319732666016,"y":365.4896035194397,"wires":[]\},\{"id":"656e7589.ff565c","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[2].comparison==\\"greaterthan\\" && context.global.paydata > msg.payload[2].value) || (msg.payload[2].comparison==\\"equals\\" && context.global.paydata == msg.payload[2].value) || (msg.payload[2].comparison==\\"lessthan\\" && context.global.paydata < msg.payload[2].value))\\n    \{\\n        return msg;\\n    \}","outputs":1,"noerr":0,"x":604.5625,"y":416.3402724266052,"wires":[["f01f8f75.6087d"]]\},\{"id":"f01f8f75.6087d","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[2]","property":"payload[2].action","propertyType":"msg","rules":[\{"t":"eq","v":"email","vt":"str"\},\{"t":"eq","v":"publish","vt":"str"\},\{"t":"eq","v":"url_trigger","vt":"str"\}],"checkall":"true","outputs":3,"x":771.6319217681885,"y":390.4896025657654,"wires":[["e46dc4b5.093508"],["80cf72e2.95e9"],["628c45a2.ee5f1c"]]\},\{"id":"e46dc4b5.093508","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[2].target;\\nmsg.payload = \\"\\"+msg.payload[2].data+\\" Received Data \\"+context.global.deviceid+\\"/\\"+context.global.datakey+\\"=\\"+context.global.paydata+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":989.0208435058594,"y":452.34377431869507,"wires":[["c1f1e16e.96fbf"]]\},\{"id":"80cf72e2.95e9","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = msg.payload[2].target;\\nmsg.payload = msg.payload[2].data;\\n//msg.payload  = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":983.0764274597168,"y":499.4895567893982,"wires":[["4ba30bbd.849b34"]]\},\{"id":"1278093e.720117","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.payload = \\"url:\\"+msg.payload[2].target+\\":\\"+msg.payload[2].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":1459.0764274597168,"y":239.48955869674683,"wires":[[]]\},\{"id":"c1f1e16e.96fbf","type":"e-mail","z":"5bd8f445.0f739c","server":"smtp.gmail.com","port":"465","name":"","dname":"","x":1217.7359771728516,"y":452.6006979942322,"wires":[]\},\{"id":"4ba30bbd.849b34","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":1230.6320238113403,"y":497.4896168708801,"wires":[]\},\{"id":"974e3423.6bcc28","type":"http request","z":"5bd8f445.0f739c","name":"","method":"GET","ret":"txt","url":"","x":1235.826675415039,"y":289.7917227745056,"wires":[["c6bc3827.834748"]]\},\{"id":"40d8ce27.d2cd7","type":"change","z":"5bd8f445.0f739c","name":"","rules":[\{"t":"set","p":"url","pt":"msg","to":"payload[0].target","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1018.8958969116211,"y":284.34029722213745,"wires":[["974e3423.6bcc28"]]\},\{"id":"824173c.ad9ad9","type":"change","z":"5bd8f445.0f739c","name":"","rules":[\{"t":"set","p":"url","pt":"msg","to":"payload[1].target","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1012.0070037841797,"y":405.3402895927429,"wires":[["4a579308.11130c"]]\},\{"id":"4a579308.11130c","type":"http request","z":"5bd8f445.0f739c","name":"","method":"GET","ret":"txt","url":"","x":1204.9378280639648,"y":409.79171323776245,"wires":[["80497887.c97138"]]\},\{"id":"80497887.c97138","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1398.0072288513184,"y":406.3403515815735,"wires":[]\},\{"id":"628c45a2.ee5f1c","type":"change","z":"5bd8f445.0f739c","name":"","rules":[\{"t":"set","p":"url","pt":"msg","to":"payload[2].target","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":994.0069580078125,"y":554.7846999168396,"wires":[["9e0b4868.9359b8"]]\},\{"id":"9e0b4868.9359b8","type":"http request","z":"5bd8f445.0f739c","name":"","method":"GET","ret":"txt","url":"","x":1210.9377365112305,"y":560.2361254692078,"wires":[["5c317c37.0ed814"]]\},\{"id":"5c317c37.0ed814","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1384.0072174072266,"y":555.7847533226013,"wires":[]\},\{"id":"a37119d2.201dc8","type":"mqtt in","z":"5bd8f445.0f739c","name":"","topic":"/key3333/ips/#","qos":"2","broker":"419d3f26.6f034","x":112.89583206176758,"y":1516.2292714118958,"wires":[["f34c93b3.bf0a5"]]\},\{"id":"ea4a4749.883658","type":"mysql","z":"5bd8f445.0f739c","mydb":"5b9ea9ab.43f018","name":"","x":351.89581298828125,"y":1518.2292189598083,"wires":[["2126552e.294dda","a8395a3f.1fcdd8","9dd189d3.f31698"]]\},\{"id":"6f1c3b5c.a54904","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload","property":"payload","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":569.8958129882812,"y":1540.2292189598083,"wires":[[],[]]\},\{"id":"32eb1a6d.fc3d56","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload.comparison==\\"greaterthan\\" && context.global.rssi > msg.payload.value) || (msg.payload.comparison==\\"equals\\" && context.global.rssi == msg.payload.value) || (msg.payload.comparison==\\"lessthan\\" && context.global.rssi < msg.payload.value))\\n  \{\\n    return msg;\\n  \}\\n   \\n","outputs":1,"noerr":0,"x":484.7222900390625,"y":1748.9688429832458,"wires":[["9f172fba.cff53"]]\},\{"id":"9f172fba.cff53","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload","property":"payload.action","propertyType":"msg","rules":[\{"t":"eq","v":"email","vt":"str"\},\{"t":"eq","v":"publish","vt":"str"\},\{"t":"eq","v":"url_trigger","vt":"str"\}],"checkall":"true","outputs":3,"x":663.7916259765625,"y":1767.1181349754333,"wires":[["e2fbdc9b.4c75"],["4b70cbfd.0c59f4"],["3f6e4e36.dc58e2"]]\},\{"id":"e2fbdc9b.4c75","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[0].target;\\nmsg.payload = \\"\\"+msg.payload[0].data+\\" Received Data \\"+context.global.deviceid+\\"/\\"+context.global.datakey+\\"=\\"+context.global.paydata+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":1053.1805572509766,"y":1646.9722990989685,"wires":[["62df4f20.f44be"]]\},\{"id":"4b70cbfd.0c59f4","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = msg.payload.target;\\nmsg.payload = msg.payload.data;\\n//msg.payload  = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":1032.236099243164,"y":1686.1181044578552,"wires":[["fcfacaa8.95bfd8"]]\},\{"id":"3f6e4e36.dc58e2","type":"change","z":"5bd8f445.0f739c","name":"","rules":[\{"t":"set","p":"url","pt":"msg","to":"payload[0].target","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":1085.7917251586914,"y":1725.1181292533875,"wires":[["3eb274a5.cab21c"]]\},\{"id":"62df4f20.f44be","type":"e-mail","z":"5bd8f445.0f739c","server":"smtp.gmail.com","port":"465","name":"","dname":"","x":1285.8957843780518,"y":1637.22922372818,"wires":[]\},\{"id":"fcfacaa8.95bfd8","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":1288.791732788086,"y":1674.1181545257568,"wires":[]\},\{"id":"3eb274a5.cab21c","type":"http request","z":"5bd8f445.0f739c","name":"","method":"GET","ret":"txt","url":"","x":1302.7225036621094,"y":1730.5695548057556,"wires":[["70fadca2.30c864"]]\},\{"id":"70fadca2.30c864","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1475.7919845581055,"y":1726.1181826591492,"wires":[]\},\{"id":"cb718516.a8ee18","type":"function","z":"5bd8f445.0f739c","name":"","func":"context.global.did = msg.payload.peripheralUuid;\\ncontext.global.gid = msg.payload.gatewayid;\\ncontext.global.rssi = -(msg.payload.rssi);\\nmsg.topic = \\"SELECT * FROM lt_telebeaconrules where device_id= '\\"+context.global.did+\\"' AND data_key= '\\"+context.global.gid+\\"' ORDER by id\\";\\nreturn msg;","outputs":1,"noerr":0,"x":277,"y":1636.4513869285583,"wires":[["ea4a4749.883658"]]\},\{"id":"f34c93b3.bf0a5","type":"json","z":"5bd8f445.0f739c","name":"","x":143,"y":1620.4513869285583,"wires":[["cb718516.a8ee18"]]\},\{"id":"9e26815c.8dcb6","type":"json","z":"5bd8f445.0f739c","name":"","x":507,"y":1689.4513869285583,"wires":[[]]\},\{"id":"2126552e.294dda","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[0]","property":"payload[0]","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":327,"y":1924.4513869285583,"wires":[[],["6eef46f7.00b208"]]\},\{"id":"a8395a3f.1fcdd8","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[1]","property":"payload[1]","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":315.00000381469727,"y":1964.451401233673,"wires":[[],["bd0553ab.a76bb"]]\},\{"id":"9dd189d3.f31698","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[2]","property":"payload[2]","propertyType":"msg","rules":[\{"t":"null"\},\{"t":"nnull"\}],"checkall":"true","outputs":2,"x":309.00002670288086,"y":2011.4514060020447,"wires":[[],["8a7bbd45.163b"]]\},\{"id":"6eef46f7.00b208","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[0].comparison==\\"greaterthan\\" && context.global.rssi > msg.payload[0].value) || (msg.payload[0].comparison==\\"equals\\" && context.global.rssi == msg.payload[0].value) || (msg.payload[0].comparison==\\"lessthan\\" && context.global.rssi < msg.payload[0].value))\\n    \{\\n        return msg;\\n    \}","outputs":1,"noerr":0,"x":491.826416015625,"y":1898.1910109519958,"wires":[["549ec50a.aca98c"]]\},\{"id":"bd0553ab.a76bb","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[1].comparison==\\"greaterthan\\" && context.global.rssi > msg.payload[1].value) || (msg.payload[1].comparison==\\"equals\\" && context.global.rssi == msg.payload[1].value) || (msg.payload[1].comparison==\\"lessthan\\" && context.global.rssi < msg.payload[1].value))\\n    \{\\n        return msg;\\n    \}","outputs":1,"noerr":0,"x":512.5625076293945,"y":2024.3402667045593,"wires":[["fb9566ee.7556f8","69ac4280.7579cc"]]\},\{"id":"8a7bbd45.163b","type":"function","z":"5bd8f445.0f739c","name":"","func":"if((msg.payload[2].comparison==\\"greaterthan\\" && context.global.rssi > msg.payload[2].value) || (msg.payload[2].comparison==\\"equals\\" && context.global.rssi == msg.payload[2].value) || (msg.payload[2].comparison==\\"lessthan\\" && context.global.rssi < msg.payload[2].value))\\n    \{\\n        return msg;\\n    \}","outputs":1,"noerr":0,"x":494.56250762939453,"y":2128.3402667045593,"wires":[["ac43e8e.c860518"]]\},\{"id":"ac43e8e.c860518","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[2]","property":"payload[2].action","propertyType":"msg","rules":[\{"t":"eq","v":"email","vt":"str"\},\{"t":"eq","v":"publish","vt":"str"\},\{"t":"eq","v":"url_trigger","vt":"str"\}],"checkall":"true","outputs":3,"x":661.631929397583,"y":2102.4895968437195,"wires":[["3bac6414.44f4ec"],["629361ef.ce579"],["856a0c3e.f78d2"]]\},\{"id":"fb9566ee.7556f8","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[1]","property":"payload[1].action","propertyType":"msg","rules":[\{"t":"eq","v":"email","vt":"str"\},\{"t":"eq","v":"publish","vt":"str"\},\{"t":"eq","v":"url_trigger","vt":"str"\}],"checkall":"true","outputs":3,"x":670.6318969726562,"y":2031.4895796775818,"wires":[["edff5b88.457bb8"],["e3989928.9cee08"],["66e173a0.442bcc"]]\},\{"id":"549ec50a.aca98c","type":"switch","z":"5bd8f445.0f739c","name":"msg.payload[0]","property":"payload[0].action","propertyType":"msg","rules":[\{"t":"eq","v":"email","vt":"str"\},\{"t":"eq","v":"publish","vt":"str"\},\{"t":"eq","v":"url_trigger","vt":"str"\}],"checkall":"true","outputs":3,"x":649.8958320617676,"y":1940.340304851532,"wires":[["ea104cdc.cf4cb"],["b4d75c40.38068"],["d86f5e19.22b5d"]]\},\{"id":"ea104cdc.cf4cb","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[0].target;\\nmsg.payload = \\"Threshold RSSI = \\"+msg.payload[0].value+\\" Received Data RSSI\\"+context.global.did+\\"/\\"+context.global.gid+\\"=\\"+context.global.rssi+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":876.2847366333008,"y":1918.1944613456726,"wires":[["65a8517e.9ea39"]]\},\{"id":"b4d75c40.38068","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = msg.payload[0].target;\\nmsg.payload = msg.payload[0].data;\\n//msg.payload  = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":855.3402786254883,"y":1957.3402667045593,"wires":[["6249a6a1.519be8"]]\},\{"id":"d86f5e19.22b5d","type":"change","z":"5bd8f445.0f739c","name":"","rules":[\{"t":"set","p":"url","pt":"msg","to":"payload[0].target","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":908.8959045410156,"y":1996.3402915000916,"wires":[["b1db6fb3.7eab2"]]\},\{"id":"906afe53.89934","type":"e-mail","z":"5bd8f445.0f739c","server":"smtp.gmail.com","port":"465","secure":true,"name":"","dname":"","x":1208.9999256134033,"y":1896.4514260292053,"wires":[]\},\{"id":"6249a6a1.519be8","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":1213.8958740234375,"y":1948.3403029441833,"wires":[]\},\{"id":"b1db6fb3.7eab2","type":"http request","z":"5bd8f445.0f739c","name":"","method":"GET","ret":"txt","url":"","x":1125.8266830444336,"y":2001.7917170524597,"wires":[["cc3936fb.fa2378"]]\},\{"id":"cc3936fb.fa2378","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1298.8961639404297,"y":1997.3403449058533,"wires":[]\},\{"id":"16058fcb.06aa6","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[1].target;\\nmsg.payload = \\"\\"+msg.payload[1].data+\\" Received Data \\"+context.global.deviceid+\\"/\\"+context.global.datakey+\\"=\\"+context.global.paydata+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":981.0208625793457,"y":1870.3435530662537,"wires":[[]]\},\{"id":"e3989928.9cee08","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = msg.payload[1].target;\\nmsg.payload = msg.payload[1].data;\\n//msg.payload  = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":923.076379776001,"y":2077.4895367622375,"wires":[["fb3ee8ae.595f78"]]\},\{"id":"fb3ee8ae.595f78","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":1126.631980895996,"y":2077.489597797394,"wires":[]\},\{"id":"66e173a0.442bcc","type":"change","z":"5bd8f445.0f739c","name":"","rules":[\{"t":"set","p":"url","pt":"msg","to":"payload[1].target","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":902.0070114135742,"y":2117.340283870697,"wires":[["f2f97ec7.807bd"]]\},\{"id":"f2f97ec7.807bd","type":"http request","z":"5bd8f445.0f739c","name":"","method":"GET","ret":"txt","url":"","x":1094.9378356933594,"y":2121.7917075157166,"wires":[["139c90ec.43bc6f"]]\},\{"id":"139c90ec.43bc6f","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1288.007236480713,"y":2118.3403458595276,"wires":[]\},\{"id":"3bac6414.44f4ec","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[2].target;\\nmsg.payload = \\"Threshold RSSI = \\"+msg.payload[2].value+\\" Received Data RSSI\\"+context.global.did+\\"/\\"+context.global.gid+\\"=\\"+context.global.rssi+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":879.0208511352539,"y":2164.343768596649,"wires":[["7190bf2c.401d"]]\},\{"id":"629361ef.ce579","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = msg.payload[2].target;\\nmsg.payload = msg.payload[2].data;\\n//msg.payload  = \\"publish:\\"+msg.payload[0].target+\\":\\"+msg.payload[0].data+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":873.0764350891113,"y":2211.4895510673523,"wires":[["6349214.407a3e"]]\},\{"id":"6349214.407a3e","type":"mqtt out","z":"5bd8f445.0f739c","name":"","topic":"","qos":"","retain":"","broker":"419d3f26.6f034","x":1120.6320314407349,"y":2209.4896111488342,"wires":[]\},\{"id":"856a0c3e.f78d2","type":"change","z":"5bd8f445.0f739c","name":"","rules":[\{"t":"set","p":"url","pt":"msg","to":"payload[2].target","tot":"msg"\}],"action":"","property":"","from":"","to":"","reg":false,"x":884.006965637207,"y":2266.7846941947937,"wires":[["4ad0405f.7d425"]]\},\{"id":"4ad0405f.7d425","type":"http request","z":"5bd8f445.0f739c","name":"","method":"GET","ret":"txt","url":"","x":1100.937744140625,"y":2272.236119747162,"wires":[["f56baa57.2dfd18"]]\},\{"id":"f56baa57.2dfd18","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":1274.007225036621,"y":2267.7847476005554,"wires":[]\},\{"id":"69ac4280.7579cc","type":"debug","z":"5bd8f445.0f739c","name":"","active":true,"console":"false","complete":"false","x":744,"y":1842.4513869285583,"wires":[]\},\{"id":"506ac9bf.09c398","type":"delay","z":"5bd8f445.0f739c","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1075.5027923583984,"y":2037.3232226371765,"wires":[["906afe53.89934"]]\},\{"id":"7190bf2c.401d","type":"delay","z":"5bd8f445.0f739c","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1071.6448516845703,"y":2165.814826488495,"wires":[["906afe53.89934"]]\},\{"id":"65a8517e.9ea39","type":"delay","z":"5bd8f445.0f739c","name":"","pauseType":"queue","timeout":"5","timeoutUnits":"seconds","rate":"2","nbRateUnits":"","rateUnits":"hour","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1042.6448974609375,"y":1904.6331496238708,"wires":[["906afe53.89934"]]\},\{"id":"edff5b88.457bb8","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"Email Alert Trigger from Telebeacon\\";\\nmsg.to = msg.payload[1].target;\\nmsg.payload = \\"Threshold RSSI = \\"+msg.payload[1].value+\\" Received Data RSSI\\"+context.global.did+\\"/\\"+context.global.gid+\\"=\\"+context.global.rssi+\\"\\";\\nreturn msg;","outputs":1,"noerr":0,"x":913.6448860168457,"y":2035.0876059532166,"wires":[["506ac9bf.09c398"]]\},\{"id":"84200b95.722088","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"/conference33","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":876,"y":2388,"wires":[["6349214.407a3e"]]\},\{"id":"14d3ed21.98cb23","type":"inject","z":"5bd8f445.0f739c","name":"","topic":"/conference33","payload":"0","payloadType":"num","repeat":"","crontab":"","once":false,"x":935,"y":2439,"wires":[["6349214.407a3e"]]\},\{"id":"c46b41ad.c59f6","type":"function","z":"5bd8f445.0f739c","name":"","func":"msg.topic = \\"INSERT INTO lt_position( tag_id, xpos, ypos, map_id, localName, rssi ) SELECT lt_tag.id, lt_reader.xpos, lt_reader.ypos, lt_reader.map_id,'\\"+msg.payload.localName+\\"', '\\"+msg.payload.rssi+\\"' FROM lt_tag, lt_reader  WHERE lt_tag.addr ='\\"+msg.payload.peripheralUuid+\\"'AND lt_reader.addr ='\\"+msg.payload.gatewayid+\\"' LIMIT 1\\";\\nreturn msg;","outputs":1,"noerr":0,"x":167,"y":650,"wires":[[]]\},\{"id":"419d3f26.6f034","type":"mqtt-broker","z":"","broker":"telebeacon.com","port":"1883","clientid":"","usetls":false,"verifyservercert":true,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willRetain":null,"willPayload":"","birthTopic":"","birthQos":"0","birthRetain":null,"birthPayload":""\},\{"id":"5b9ea9ab.43f018","type":"MySQLdatabase","z":"5bd8f445.0f739c","host":"127.0.0.1","port":"3306","db":"ioneeds","tz":""\},\{"id":"8805b2b1.f2877","type":"mqtt-broker","z":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"15","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""\}]}